<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- <base href="/"> -->

	<title>Github Scrapper</title>

	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<!-- FIXME: Let's create a async defer script loader with a callback or event firer. -->
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/libs/handlebars/handlebars.min.js" ></script>

</head>
<body>

<div class="container-fluid" >

	<form id="frmMain" class="form-inline">
		<div class="form-group">
			<label>Repository Index</label>
			<input id="repoIndex" class="form-control" type="numeric">
		</div>
		<button type="submit" class="btn btn-primary">Load</button>
		<div id="loaderContainer" class="hidden">
			<svg class="loader" width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
			    <g fill="none" fill-rule="evenodd" stroke-width="2">
			        <circle cx="22" cy="22" r="1">
			            <animate attributeName="r"
			                begin="0s" dur="1.8s"
			                values="1; 20"
			                calcMode="spline"
			                keyTimes="0; 1"
			                keySplines="0.165, 0.84, 0.44, 1"
			                repeatCount="indefinite" />
			            <animate attributeName="stroke-opacity"
			                begin="0s" dur="1.8s"
			                values="1; 0"
			                calcMode="spline"
			                keyTimes="0; 1"
			                keySplines="0.3, 0.61, 0.355, 1"
			                repeatCount="indefinite" />
			        </circle>
			        <circle cx="22" cy="22" r="1">
			            <animate attributeName="r"
			                begin="-0.9s" dur="1.8s"
			                values="1; 20"
			                calcMode="spline"
			                keyTimes="0; 1"
			                keySplines="0.165, 0.84, 0.44, 1"
			                repeatCount="indefinite" />
			            <animate attributeName="stroke-opacity"
			                begin="-0.9s" dur="1.8s"
			                values="1; 0"
			                calcMode="spline"
			                keyTimes="0; 1"
			                keySplines="0.3, 0.61, 0.355, 1"
			                repeatCount="indefinite" />
			        </circle>
			    </g>
			</svg>
		</div>
	</form>

	<br/>

	<table id="tblRepository" class="table table-striped">
		<thead>
			<tr class="header-row">
				<th>Name</th>
				<th>Homepage</th>
				<th>Contributors</th>
				<th>Size</th>
				<th>Forks</th>
				<th>Open Issues</th>
				<th>Watchers</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

	<table id="tblUsers" class="table table-striped">
		<thead>
			<tr class="header-row">
				<th></th>
				<th>Login</th>
				<th>Name</th>
				<th>Company</th>
				<th>Blog</th>
				<th>Email</th>
				<th>Location</th>
				<th>Contributions</th>
			</tr>
		</thead>
		<tbody class="">
		</tbody>
	</table>
</div>

<!-- ##################################################
	 ## Handlebar Templates
	 ################################################## -->

<script id="tmplRepository" type="text/x-handlebars-template">
<tr data-url="{{html_url}}">
	<td><a href="{{html_url}}">{{name}}</a></td>
	<td><a href="{{homepage}}">{{homepage}}</a></td>
	<td>{{contributors}}</td>
	<td>{{size}}</td>
	<td>{{forks}}</td>
	<td>{{open_issues}}</td>
	<td>{{watchers}}</td>
	<td>{{score}}</td>
</tr>
</script>

<script id="tmplUserRows" type="text/x-handlebars-template">
{{#each this}}
	<tr data-url="{{html_url}}">
		<td><img class="avatar" src="{{avatar_url}}"></td>
		<td><a href="{{html_url}}" target="_blank">{{login}}</a></td>
		<td>{{name}}</td>
		<td>{{company}}</td>
		<td><a href="{{blog}}" target="_blank">{{blog}}</td>
		<td><a href="mailto:{{email}}">{{email}}</a></td>
		<td>{{location}}</td>
		<td>{{contributions}}</td>
	</tr>
{{/each}}
</script>

<script>

// ==================================================
// DOMContentLoaded
// ==================================================

document.addEventListener("DOMContentLoaded", function(){
	// Comile Handlebars
	var tmplRepository = Handlebars.compile(
		document.getElementById("tmplRepository").innerHTML);
	var tmplUserRows = Handlebars.compile(
		document.getElementById("tmplUserRows").innerHTML);

	// Form submit functionality
	$("#frmMain").submit(function() {
		// Show loader
		var $loaderContainer = $("#loaderContainer");
		$loaderContainer.removeClass("hidden");

		// Clear table data
		clearData();

		// Make request.
		$.get({
			url: "/api/users?repoIndex=" + $("#repoIndex").val()
		}).done(function(data){
			populateData(data);
		}).fail(function(){
			alert("Some problem occurred");
		}).always(function(){
			// Hide loader.
			$loaderContainer.addClass("hidden");
		});

		return false;
	});

	function clearData() {
		$("#tblRepository tbody").empty();
		$("#tblUsers tbody").empty();
	}

	function populateData(data){
		$("#tblRepository tbody")
			.empty()
			.append(tmplRepository(data.repo));

		$("#tblUsers tbody")
			.empty()
			.append(tmplUserRows(data.users));
	}
});

</script>

</body>
</html>
