.hidden {
	opacity: 0;
}

.container-fluid {
	padding-top: 15px;
	padding-bottom: 15px;
}

.form-group {
	padding-right: 20px;
}

input {
	margin-left: 10px;
}

table td {
	vertical-align: middle !important;
}

table thead {
	background-color: #f1f1f1;
}

table tbody tr {
	cursor: pointer;
	transition: 0.2s all ease-in-out;
}

table tbody tr:hover {
	background-color: #ececec;
}

#frmMain button {
	margin-right: 10px;
}

#tblUsers .avatar {
	width: 40px;
	border-radius: 20px;
}

#loaderContainer {
	display: inline-block;
	vertical-align: top;
	transition: 0.2s all ease-in-out;
}

svg.loader{
	fill: #444;
	stroke: #444;
	width: 34px;
	height: 34px;
	vertical-align: top;
}
